#logobox {

	float:left;

}

.topmostmenu {

	text-align:center;

}

.btn a {

	color: white;

}

.topmostmenu .btn {



}

.topmostmenu .btn-success {

	background-color: #1f6239;
	background-image: -moz-linear-gradient(top, #287F45, #066029);
	background-image: -ms-linear-gradient(top, #287F45, #066029);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#287F45), to(#066029));
	background-image: -webkit-linear-gradient(top, #287F45, #066029);
	background-image: -o-linear-gradient(top, #287F45, #066029);
	background-image: linear-gradient(top, #287F45, #066029);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#287F45', endColorstr='#066029', GradientType=0);
	border-color: #1f6239 #1f6239 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);	

}

.topmostmenu .btn-success:hover {

	background-color: #1f6239;

}

.topmostmenu .btn-warning {

	background-color: #e2a82a;
	background-image: -moz-linear-gradient(top, #EFC35D, #E09F11);
	background-image: -ms-linear-gradient(top, #EFC35D, #E09F11);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EFC35D), to(#F89406));
	background-image: -webkit-linear-gradient(top, #EFC35D, #E09F11);
	background-image: -o-linear-gradient(top, #EFC35D, #E09F11);
	background-image: linear-gradient(top, #EFC35D, #E09F11);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFC35D', endColorstr='#f89406', GradientType=0);
	border-color: #E09F11 #E09F11 #AD6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);	

}

.topmostmenu .btn-warning:hover {

	background-color: #e2a82a;

}

.top-head-menu {

	margin-bottom: 8px;

}

.toparea {

	margin-bottom: 1%;
/**	background-color: #1F1F1F;
	
background-image: linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -o-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -moz-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -webkit-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -ms-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );

background-image: -webkit-gradient(
	linear,
	right bottom,
	left bottom,
	color-stop(0.11, #1F1F1F),
	color-stop(0.61, #0A0A0A),
	color-stop(1.00, #1F1F1F),
);
**/
	background-color: transparent;
	padding: 8px 0;
	min-height: 520px;


}

.featbox  .topfarleft { 

	background-color: #F6F6F6;
	border-right: 1px #D1D1D1 solid;
	border-left: 1px #D1D1D1 solid;
	margin-right: .8%;
	width: 15.8%;

}

.featbox  .topleft { 

	background-color: #F6F6F6;
	border-right: 1px #D1D1D1 solid;
	border-left: 1px #D1D1D1 solid;	
	margin-left: .8%;
	margin-right: .8%;
	width: 47.8%;

}

.featbox  .topright { 

	background-color: #F6F6F6;
	border-right: 1px #D1D1D1 solid;
	border-left: 1px #D1D1D1 solid;	
	margin-left: .8%;
	margin-right: .8%;
	width: 15.8%;

}

.featbox  .topfarright { 

	background-color: #F6F6F6;
	border-right: 1px #D1D1D1 solid;
	border-left: 1px #D1D1D1 solid;	
	margin-left: .8%;
	width: 15.8%;

}

.topmeta {

	font-size: 9px;
	font-family: 'Droid Sans', sans-serif;

}

.toptitle, .topexcerpt, .topwidgetarea, .topmeta {

	padding: 0 6%;

}

.topleft .toptitle, .topleft .topexcerpt, .topleft .topwidgetarea, .topleft .topmeta {

	padding: 0 4%;

}

.toptitle h4 {

	font-size: 1.8rem;

}

.topwidget p {

	font-size: 1.2rem;
	line-height: 1.3;

}

.topwidgetbox .article {

	min-height: 280px;

}

.toptitle h4 a {

	color: #181818;

}

.toptitle h4 a:hover {

	color: #2A85E8;

}

.topleft .toptitle {

	margin-top: 181px;
	position: absolute;
	padding-left: 10px;
	background-image: url('../images/transparent.png');
	margin-right: 90px;
	max-height: 170px;
	overflow: hidden;
	text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.topleft .maintitle {

	padding-top: 9px;
	font-family: 'Droid Sans', sans-serif;

}

.toptitle h2 a {

	color: #181818;

}

.toptitle h2 a:hover {

	color: #2A85E8;

}

.topleft .topwidget .topmeta {

	margin-top: 4px;

}

.topleft .topwidget p {

	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1.25;
	margin-bottom: 10px;

}

.topwidgetbox article {

	margin-top: 6px;

}

.topwidgets h6 {

	color: inherit;
	background-color: #DDD;
	padding: 2px 6px;
	border-top: 1px #999 dotted;
	border-bottom: 1px #999 dotted;
	margin-bottom: 10px;
	

}

.topwidgets h6 img {

	display:none;

}

.topwidgets h6 a {

	color: inherit;

}

.topwidget .sidebar-section {

	padding: 0 4%;
	width: 92%;

}

.homearticles {

	margin-bottom: 14px;
	margin-top: 10px;

}

.articlewrap {

	margin: 8px;

}

.home article.format-standard .article-container {

	height: 360px;
	width: 96.6%;
	border-style: solid;
	-moz-box-shadow: rgba(0, 0, 0, 0.33) 1px 1px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.33) 1px 1px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.33) 1px 1px 0;
	box-shadow: rgba(0, 0, 0, 0.33) 1px 1px 0;
	display: inline;
	float: left;
	border-width: 5px;
	position: relative; 
	overflow: hidden;
	border-color: #CCC;

}

.home article.format-aside .article-container, .home article.format-video .article-container {

	height: 370px;
	width: 96.6%;
	display: inline;
	float: left;
	position: relative; 
	overflow: hidden;

}

.home article.format-standard .article-container {

	background-color:#F6F6F6;

}

.article-container .thumb {

	margin: 0px 0px 6px;

}

.article-container .thumb img {

	max-height: 150px;

}

.article-container h4 a {

	font-family: Georgia, Times New Roman, serif;
	color: black;
	font-weight: normal;

}

.article-container .p {

	line-height: 13px;
	line-height: 1.4rem;
	font-size: 12px;
	font-size: 1.2rem;

}

.article-container .meta {
	font-size: 9px;
	font-family: 'Droid Sans', sans-serif;
}

.excerptwrap {

	height: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 18px;

}

footer.articlewrap {

	font-family: 'Droid Sans', sans-serif;
	font-size: 10px;
	font-size:1rem;
	margin: 0;
	padding: 4px 3%;
	background-color: #CCC;
	height: 17px;
	position: absolute;
	width: 95%;
	top: 334px;
	border-top: 1px dotted black;

}

.format-aside footer.article-wrap, .format-video footer.article-wrap {

	top: 344px;

}

footer.articlewrap p {

	width:100%;
	white-space:nowrap; 	
	font-size:10px;
	font-size:1rem;
	overflow: hidden;
	text-overflow: ellipsis;

}

.taggedwith {

	padding-right: 4px;
	border-right: 1px dotted black;
	margin-right: 4px;

	

}

#sidebar-top-container {

	

}

#sidebar-top-container #sharebox {

	margin-bottom: 30px;

}

#sidebar-top-container #bonusbox  {

	margin-bottom: 10px;

}

.clear 
{

	clear:both;

}