.toparea {

	margin-bottom: 3%;
	background-color: #1F1F1F;
	
background-image: linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -o-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -moz-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -webkit-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -ms-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );

background-image: -webkit-gradient(
	linear,
	right bottom,
	left bottom,
	color-stop(0.11, #1F1F1F),
	color-stop(0.61, #0A0A0A),
	color-stop(1.00, #1F1F1F),
);


}



/** 
.topleft .twelve { 

	padding-top:20px;
	width: 80%;
	padding-right: 10%;
	padding-left: 10%;

}

.topfarleft, .topleft, .topright, .topfarright {

	border: 1px solid white;

}

.topfarleft {

	margin-left: 2%!important;
	
}

.topleft {

	margin-left: 3.4%;
	margin-right: 3.4%;

}

.topright {

	margin-left:0;
	
}

.topfarright {

	margin-left: 2%;
	margin-right: 2%;
	
}
**/

.toparea .topfarleft .topwidget {

	

}