.toparea {

	margin-bottom: 3%;
/**	background-color: #1F1F1F;
	
background-image: linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -o-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -moz-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -webkit-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );
background-image: -ms-linear-gradient(right , #1F1F1F 11%, #0A0A0A 61%, #1F1F1F 100% );

background-image: -webkit-gradient(
	linear,
	right bottom,
	left bottom,
	color-stop(0.11, #1F1F1F),
	color-stop(0.61, #0A0A0A),
	color-stop(1.00, #1F1F1F),
);
**/
	background-color: transparent;
	padding: 8px 0;
	min-height: 520px;


}

.featbox  .topfarleft { 

	background-color: #F6F6F6;
	border-right: 1px #D1D1D1 solid;
	border-left: 1px #D1D1D1 solid;
	margin-left: 2%;
	margin-right: 1%;
	width: 13.6%;

}

.featbox  .topleft { 

	background-color: #F6F6F6;
	border-right: 1px #D1D1D1 solid;
	border-left: 1px #D1D1D1 solid;	
	margin-left: 1%;
	margin-right: 1%;
	width: 47.6%;

}

.featbox  .topright { 

	background-color: #F6F6F6;
	border-right: 1px #D1D1D1 solid;
	border-left: 1px #D1D1D1 solid;	
	margin-left: 1%;
	margin-right: 1%;
	width: 13.6%

}

.featbox  .topfarright { 

	background-color: #F6F6F6;
	border-right: 1px #D1D1D1 solid;
	border-left: 1px #D1D1D1 solid;	
	margin-left: 1%;
	margin-right: 2%;
	width: 13.6%;

}

.toptitle, .topexcerpt, .topwidgetarea {

	padding: 0 2%;

}